<section class="company_section">
  <div class="container2">
    <h2 class="section_title">О компании</h2>
  </div>
  <div class="banner_block">
    <div class="banner_block_text">
      В целях реализации национальных проектов по направлениям, предусмотренным
      Указом Президента Российской Федерации от 07 мая 2018 года № 204
      <span class="db"></span> «О национальных целях и стратегических задачах
      развития Российской Федерации на период до 2024 года» идет процесс
      создания строительного холдинга, обладающего уникальными технологиями и
      компетенциями в сфере проектирования, строительства, эксплуатации и
      финансирования объектов транспортной, энергетической и городской
      инфраструктуры.
    </div>
    <div class="banner_block_blue-text">
      АО «ГК НПС» объединит компании, специализирующиеся на строительстве
      автодорожной, железнодорожной и энергетической инфраструктуры.
    </div>
  </div>
  <div
    style="background-image: url(images/banner1.png);"
    class="banner_block_img"
  ></div>

  <div class="banner_block">
    <div class="banner_block_blue-text">
      Каждая из строительных компаний является <span class="db"></span> лидером
      в своем сегменте рынка.
    </div>
    <div class="banner_block_text">
      Компании обладают уникальным опытом и компетенциями. В портфель компаний
      входят такие проекты, как строительство Крымского моста,
      <span class="db"></span> участков скоростной автомагистрали М-11 Москва
      —­<span class="db"></span> Санкт-Петербург, взлетной полосы аэропорта
      Шереметьево, модернизация железнодорожной инфраструктуры Транссиба и БАМа
      и другие.
    </div>
  </div>
  <div
    style="background-image: url(images/banner2.png);"
    class="banner_block_img"
  ></div>

  <div class="banner_block">
    <div class="banner_block_text">
      В состав группы войдут инжиниринговые, строительные, ремонтные и сервисные
      компании, проектные институты, позволяющие оказывать услуги на протяжении
      всего жизненного цикла объектов инфраструктуры.
      <p class="db"></p>
      Участие государственной корпорации развития «ВЭБ.РФ» в капитале позволит
      реализовать значительные синергетические эффекты от объединения
      строительной экспертизы и возможностей, предоставляемых международными
      рынками капитала и компетенциями института развития.
    </div>
    <div class="banner_block_blue-text">
      В перспективе совместная деятельность партнеров позволит обеспечить
      реализацию нацпроектов и обеспечить инфоаструктурный прорыв, который
      заложит фундамент для дальнейшего экономического роста и регионального
      развития.
    </div>
  </div>
  <div
    style="background-image: url(images/banner3.png);"
    class="banner_block_img"
  ></div>
</section>
