<section class="corporate">
  <div class="container1">
    <h2 class="section_title">Корпоративное управление</h2>
    <a href="#" class="guide">Руководство</a>

    <div class="corporate_container">
      <div class="corporate_item">
        <span class="corporate_title">
          <span class="bold">Аганбегян</span> Рубен Абелович</span
        >
        <span class="corporate_subtitle">Генеральный директор </span>
        <span class="corporate_discription">
          Родился в 1972 году. Окончил Московскую государственную юридическую
          академию. <span class="db"></span> Начав карьеру юристом, впоследствии
          переключился <span class="db"></span> на инвестиционно-банковскую
          специализацию. Благодаря его непосредственному вкладу состоялся<span
            class="db"
          ></span>
          ряд крупнейших сделок на российском рынке капитала в 2000–2010
          гг.<span class="db"></span> Впоследствии возглавил Московскую биржу и
          вывел<span class="db"></span> ее на уровень лучших мировых торговых
          площадок, параллельно объединив с РТС и создав предпосылки для
          публичного размещения акций.<span class="db"></span> Обладает огромным
          опытом в области корпоративных финансов, стратегическом менеджменте и
          корпоративном управлении.
        </span>
      </div>

      <div class="corporate_item">
        <span class="corporate_title">
          <span class="bold">Новокрещеных</span> Екатерина Ильинична
        </span>
        <span class="corporate_subtitle"
          >Заместитель генерального директора
        </span>
        <span class="corporate_discription">
          Екатерина Новокрещеных более 20 лет работала на российском финансовом
          рынке, специализируясь на сделках с капиталом. Работала в таких
          компаниях, как «Тройка Диалог», РАО «ЕЭС России», Московская биржа. В
          новой компании будет отвечать за корпоративные финансы, сделки по
          слияниям и поглощениям и государственно-частные партнерства.
        </span>
      </div>

      <div class="corporate_item">
        <span class="corporate_title">
          <span class="bold">Хуажев</span> Олег Тимирович
        </span>
        <span class="corporate_subtitle"
          >Директор Правового департамента, <span class="db"></span> Заместитель
          генерального директора
        </span>
        <span class="corporate_discription">
          Олег Хуажев имеет более 20 лет опыта юридической практики в правовых
          службах российских корпораций, фондах прямых инвестиций и
          международном юридическом консалтинге. Обладает обширным опытом
          правового сопровождения комплексных инвестиционных проектов, а также
          проектов, связанных с созданием <span class="db"></span> и
          структурированием холдинговых компаний <span class="db"></span> и
          совместных предприятий.<span class="db"></span> Образование: РГУ нефти
          и газа им. Губкина (2000), Nottingham Law School (2014).
        </span>
      </div>

      <div class="corporate_item">
        <span class="corporate_title">
          <span class="bold">Поспелов</span> Андрей Валентинович
        </span>
        <span class="corporate_subtitle">Финансовый директор </span>
        <span class="corporate_discription">
          Андрей Поспелов имеет опыт работы как в аудиторских компаниях «большой
          четверки» в России и за рубежом, так и опыт руководства финансовой
          службой крупных корпораций и многопрофильных холдингов в России. Член
          Ассоциации профессиональных бухгалтеров Великобритании (ACCA, UK).
        </span>
      </div>
    </div>
  </div>
</section>
