<footer class="footer">
  <div class="footer_paralax_trigger"></div>
  <div class="footer_top">
    <div
      style="background-image: url(images/Footer.jpg);"
      class="footer_paralax"
    ></div>
    <div class="container1">
      <div class="footer_text">
        <h2 class="footer_title">КОНТАКТЫ</h2>

        <span class="location">
          123112, Москва,
        </span>
        <span class="location">
          Пресненская наб., 8, стр. 1,
        </span>
        <span class="location">
          помещение IN, комната 30
        </span>

        <p>E: <a href="mailto:info@npsgk.ru">info@npsgk.ru</a></p>
        <p>T: <a href="tel:++7 (499) 288-28-79">+7 (499) 288-28-79</a></p>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container1">
      НАЦПРОЕКТСТРОЙ ©2020 Все права защищены. Использование материалов с сайта
      возможно только с согласия правообладателей
    </div>
  </div>
</footer>
