<header class="header">
  <div class="container1">
    <div class="header_flex_wrapper">
      <div class="header_logo_wrapper">
        <img src="img/NPC_logo.svg" alt="logo" class="logo" />
      </div>

      <nav>
        <ul class="main_menu">
          <li class="main_menu_item">О компании</li>
          <li class="main_menu_item">Корпоративное управление</li>
          <li class="main_menu_item">Новости</li>
          <li class="main_menu_item"><span class="mobile">|</span> Контакты</li>
        </ul>
      </nav>
    </div>
  </div>
</header>
