<header class="header">
  <div class="container1">
    <div class="header_flex_wrapper">
      <div class="header_logo_wrapper">
        <img src="img/NPC_logo.svg" alt="logo" class="logo" />
      </div>

      <nav>
        <ul class="main_menu">
          <li class="main_menu_item">
            <a href=".company_section" class="js--move">О компании</a>
          </li>
          <li class="main_menu_item">
            <a href=".corporate" class="js--move">Корпоративное управление</a>
          </li>
          <li class="main_menu_item">
            <a href=".rewive" class="js--move">Новости</a>
          </li>
          <li class="main_menu_item">
            <a href=".footer_top" class="js--move"
              ><span class="mobile">|</span> Контакты</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
