<section class="main_banner_section">
  <div class="container2">
    <div
      style="background-image: url(images/header.jpg);"
      alt="images"
      class="mb_paralax"
    ></div>
    <div class="mb_center_block">
      <h1 class="mb_heading">
        <span class="bold">Нацпроектстрой</span> инфраструктурная компания
      </h1>
      <h2 class="mb_subheading">
        Акционерное общество
      </h2>
      <h2 class="mb_subheading">
        «Группа компаний Нацпроектстрой»
      </h2>
    </div>
    <div class="mb_right_block">
      <span class="mb_date">Новости | 06.05.2020 г.</span>
      <span class="mb_title">
        <span class="bold">РУБЕН Аганбегян:</span> «У нас мандат
        <span class="db"></span> на развитие <span class="db"></span> и в
        хорошее время, и в кризис»
      </span>
      <a
        href="https://www.rbc.ru/interview/business/06/05/2020/5eb00ece9a794713a68e4872"
        class="mb_link"
        >Читать полностью на РБК >
      </a>
    </div>
  </div>
</section>
