<section class="number">
  <div class="number_trigger"></div>
  <div class="container1">
    <div class="number_title">Количественные показатели группы</div>
    <div class="number_wrapper">
      <div class="number_item">
        <div class="numbers" id="number-1">0</div>
        <span class="number_text"
          >компании <span class="db"></span> в периметре<span class="db"></span>
          сделки</span
        >
      </div>

      <div class="number_item">
        <span class="number_text"
          >Совокупная выручка компаний по итогам 2018 года ­—
          <span class="db"></span> более
        </span>
        <div class="numbers" id="number-2">0</div>
        <span class="number_text">млрд руб</span>
      </div>

      <div class="number_item">
        <span class="number_text">
          Объем уже заключенных контрактов (бэклог) — более
        </span>
        <div class="numbers" id="number-3">0</div>
        <span class="number_text">млрд руб</span>
      </div>

      <div class="number_item">
        <span class="number_text">
          Общее количество сотрудников в группе компаний –
          <span class="db"></span> более
        </span>
        <div class="numbers" id="number-4">0</div>
        <span class="number_text">человек</span>
      </div>
    </div>
  </div>
</section>
