<section class="rewive">
  <div class="container1">
    <h2 class="section_title">НОВОСТИ КОМПАНИИ</h2>

    <div class="slider_prev"></div>
    <div class="slider_next"></div>
    <div class="slider">
      <div class="item">
        <div class="slider_flex">
          <img src="images/slide2.jpg" alt="img" class="slider_img_block" />
          <div class="slider_text_block">
            <span class="slider_heading">
              ДОРОГИ ЗА 6 ТРИЛЛИОНОВ: компания Ротенберга и ВЭБа может получить
              подряды в рамках спасения российской экономики
            </span>
            <span class="slider_discription">
              «Нацпроектстрой», создаваемый на базе активов семьи Аркадия
              Ротенберга, может стать генподрядчиком по крупным проектам
              дорожного строительства...
            </span>
            <span class="slider_date">23 июля 2020 г. |</span>
            <a
              href="https://www.forbes.ru/milliardery/405553-dorogi-za-6-trillionov-kompaniya-rotenberga-i-veba-mozhet-poluchit-podryady-v"
              class="slider_link"
            >
              Читать полностью на FORBES.RU >
            </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slider_flex">
          <img src="images/slide.png" alt="img" class="slider_img_block" />
          <div class="slider_text_block">
            <span class="slider_heading">
              РУБЕН Аганбегян: «У нас мандат на развитие и в хорошее время, и в
              кризис»
            </span>
            <span class="slider_discription">
              Глава «Нацпроектстроя» Рубен Аганбегян рассказал РБК, зачем ВЭБ
              стал партнером Аркадия Ротенберга, как строительство
              инфраструктуры может стать драйвером экономики и зачем в этом
              проекте нужен опыт финансиста...
            </span>
            <span class="slider_date">06 мая 2020 г. | </span>
            <a
              href="https://www.rbc.ru/interview/business/06/05/2020/5eb00ece9a794713a68e4872"
              class="slider_link"
            >
              Читать полностью на РБК >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
