<section class="rewive">
  <div class="container1">
    <h2 class="section_title">НОВОСТИ КОМПАНИИ</h2>

    <div class="slider_prev"></div>
    <div class="slider_next"></div>
    <div class="slider">
      <div class="item">
        <div class="slider_flex">
          <img src="images/slide.png" alt="img" class="slider_img_block" />
          <div class="slider_text_block">
            <span class="slider_heading">
              РУБЕН Аганбегян: «У нас мандат на развитие и в хорошее время, и в
              кризис»
            </span>
            <span class="slider_discription">
              Глава «Нацпроектстроя» Рубен Аганбегян рассказал РБК, зачем ВЭБ
              стал партнером Аркадия Ротенберга, как строительство
              инфраструктуры может стать драйвером экономики и зачем в этом
              проекте нужен опыт финансиста...
            </span>
            <span class="slider_date">06 мая 2020 г. | </span>
            <a href="#" class="slider_link">Читать полностью на РБК > </a>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="slider_flex">
          <img src="images/slide.png" alt="img" class="slider_img_block" />
          <div class="slider_text_block">
            <span class="slider_heading">
              РУБЕН Аганбегян: «У нас мандат на развитие и в хорошее время, и в
              кризис»
            </span>
            <span class="slider_discription">
              Глава «Нацпроектстроя» Рубен Аганбегян рассказал РБК, зачем ВЭБ
              стал партнером Аркадия Ротенберга, как строительство
              инфраструктуры может стать драйвером экономики и зачем в этом
              проекте нужен опыт финансиста...
            </span>
            <span class="slider_date">06 мая 2020 г. | </span>
            <a href="#" class="slider_link"> Читать полностью на РБК > </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
