body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a,
button,
input,
h1 {
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.container1 {
  max-width: 955px;
  width: 96%;
  margin: 0 auto;
  position: relative;
}

header {
  position: relative;
  z-index: 4;
  background-color: #fff;
  transition: all 0.5s;
  border-bottom: 2px solid #1745eb;

  position: fixed;
  width: 100%;

  nav {
    width: calc(100% - 163px);
    padding-left: 84px;
    box-sizing: border-box;
  }
}

.main_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 21px 0 11px;
  margin: 0;

  &_item {
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #1745eb;
    text-align: center;
    cursor: pointer;

    transition: all 0.5s;

    a {
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
      color: #1745eb;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }
    &:nth-child(1) {
      min-width: 71px;
    }

    &:nth-child(2) {
      min-width: 167px;
    }

    &:nth-child(3) {
      min-width: 51px;
    }

    &:nth-child(4) {
      min-width: 64px;
    }

    & + li {
      margin-left: 10px;
    }

    &:hover {
      a {
        font-weight: 600;
      }
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

.header_flex_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header_logo_wrapper {
  padding: 0 0 0 163px;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 48px;
    width: 2px;
    background: #1745eb;
    bottom: -95px;
  }

  &:before {
    left: -2px;
  }

  &:right {
    right: 0;
  }

  .logo {
    position: absolute;
    left: 0;
    display: block;
    background: #fff;
    width: 163px;
    height: 93px;
    border-bottom: 2px solid #1745eb;
    object-fit: cover;
  }
}

.container2 {
  width: 96%;
  max-width: 1170px;
  margin: 0 auto;
}

.main_banner_section {
  padding-top: 47px;
  background-color: #1745eb;

  overflow: hidden;

  position: relative;
  box-sizing: border-box;
  z-index: 0;

  .container2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 36px;
    position: relative;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  &:hover {
    .mb_link {
      color: #fff;
    }
  }
}
.bold {
  font-weight: bold;
}

.db {
  display: block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 879px) {
    display: none;
  }
}

.footer_paralax {
  background-repeat: no-repeat;
}

.mb {
  &_paralax {
    width: 100%;
    height: 100%;

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;

    background-size: 1920px 700px;
    background-attachment: fixed;
    background-position: center -350px;
    background-repeat: no-repeat;
  }

  &_right_block {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 216px;
    box-sizing: border-box;
    background-color: #1745eb;
    padding: 14px 17px 18px;
    margin-left: 132px;
    margin-right: 108px;
  }

  &_date {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-bottom: 25px;
  }

  &_title {
    font-weight: 400;
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;

    .bold {
    }
  }

  &_link {
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin-top: 22px;
    transition: 0.5s;

    &:before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }

  &_heading {
    font-size: 32px;
    line-height: 36px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 57px;
    text-transform: uppercase;
  }

  &_subheading {
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #fff;
  }

  &_center_block {
    position: relative;
    z-index: 2;
    max-width: 360px;
    width: 100%;
  }
}

.company_section {
  background: #fff;
  padding-top: 45px;

  .section_title {
    margin-bottom: 38px;
    padding-left: 108px;
  }
}

.section_title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1745eb;
}

.banner_block {
  margin: 0 auto;
  max-width: 1170px;
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  p.db {
    margin-top: 27px;
  }

  div:nth-child(1) {
    padding-left: 108px;
    padding-right: 14px;
  }

  div:nth-child(2) {
    padding-right: 108px;
    padding-left: 14px;
  }

  &_text,
  &_blue-text {
    box-sizing: border-box;
    width: 50%;
  }

  &_text {
    font-size: 15px;
    line-height: 21px;
    color: #000;
  }

  &_blue-text {
    font-size: 15px;
    line-height: 21px;
    color: #1745eb;
    font-weight: 600;
  }

  &_img {
    display: block;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 50px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.number {
  background: #1745eb;
  padding: 38px 0 33px;
  position: relative;

  &_title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 40px;
  }

  &_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  &_item {
    width: 25%;
    border-left: 2px solid #fff;
    box-sizing: border-box;
    padding: 0 20px;
  }

  &s {
    font-weight: 600;
    font-size: 52px;
    line-height: 60px;
    color: #fff;
    min-height: 60px;
  }

  &_text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
  }

  &_trigger {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: 50%;
    margin-left: -5px;
    display: block;
  }
}

.corporate {
  background: #ebebeb;
  padding: 47px 0 53px;

  .guide {
    margin: 48px 0 37px;
  }

  &_container {
  }

  &_item {
    width: calc(50% - 25px);
    margin-bottom: 57px;

    box-sizing: border-box;

    &:nth-child(3) {
      .corporate_discription {
        letter-spacing: -0.2px;
      }
    }
  }

  &_title {
    font-size: 24px;
    line-height: 28px;
    color: #1745eb;
    display: block;
    margin-bottom: 26px;

    span.bold {
      display: block;
    }
  }

  &_subtitle {
    color: #000;
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    display: block;
    margin-bottom: 28px;
  }

  &_discription {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    font-weight: 400;
  }
}

.guide {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #1745eb;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding-bottom: 4px;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #1745eb;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.rewive {
  padding: 45px 0 45px;
  background: #fff;

  .section_title {
    margin-bottom: 45px;
  }

  .slider {
    outline: none;

    .item {
      outline: none;
      position: relative;
    }

    &_flex {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
    }

    &_img_block {
      width: 100%;
      max-width: 462px;
    }

    &_text_block {
      padding-left: 33px;
    }

    &_heading {
      font-size: 24px;
      line-height: 28px;
      color: #1745eb;
      font-weight: bold;
      display: block;
      margin-bottom: 30px;
    }

    &_discription {
      font-size: 15px;
      line-height: 21px;
      color: #000;
      display: block;
      margin-bottom: 28px;
    }

    &_date {
      font-size: 15px;
      line-height: 21px;
      font-weight: bold;
      color: #1745eb;
    }

    &_link {
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      color: #1745eb;
      cursor: pointer;
      text-decoration: none;

      &:before {
        content: "";
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 2;
      }
    }

    &_prev,
    &_next {
      width: 13px;
      height: 24px;
      display: block;
      position: absolute;
      background: center / cover url(../img/arrow.png) no-repeat;
      top: 50%;
      margin-top: -12px;
      cursor: pointer;
      outline: none;

      &.slick-disabled {
        filter: grayscale(1);
        opacity: 0.5;
        cursor: auto;
      }
    }

    &_prev {
      left: -42px;
      transform: rotate(180deg);
    }

    &_next {
      right: -42px;
    }
  }
}

.footer {
  overflow: hidden;
  position: relative;
  .container2 {
    position: relative;
  }

  .footer_bottom {
    padding: 20px 0 30px;
    font-size: 12px;
    line-height: 21px;
    color: #000;

    .container1 {
      padding: 0;
    }
  }

  &_text {
    position: relative;
    z-index: 2;
    padding-left: 107.5px;
  }

  .container2 {
    padding: 60px 0 60px;
  }

  &_title {
    position: relative;
    z-index: 2;
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
  }

  .location {
    position: relative;
    z-index: 2;
    font-size: 15px;
    line-height: 21px;
    color: #fff;
    display: block;

    & + p {
      margin-top: 32px;
    }
  }

  &_top {
    position: relative;
    background-color: #1745eb;
    overflow: hidden;

    p {
      font-size: 15px;
      line-height: 21px;
      color: #fff;
      display: block;
      font-weight: bold;
      position: relative;
      z-index: 2;
    }

    a {
      font-size: 15px;
      line-height: 21px;
      color: #fff;
      font-weight: 400;
      text-decoration: none;
    }
  }

  &_paralax {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background-size: 1920px 700px;
    background-attachment: fixed;
    background-position: center 250px;
    background-repeat: no-repeat;
  }
}

.footer_paralax_trigger {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: 50%;
  margin-left: -5px;
}

@media screen and (min-width: 2100px) {
  .footer_paralax,
  .mb_paralax {
    background-size: cover;
  }
}

@media screen and (max-width: 1070px) {
  .rewive .slider_next,
  .rewive .slider_prev {
    display: none !important;
  }
}
@media screen and (max-width: 955px) {
  .footer_text {
    padding-left: 20px;
  }
}

@media screen and (max-width: 879px) {
  .rewive .slider_text_block,
  .footer_text {
    padding-left: 0;
  }
  .mb_paralax {
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
  }
  .rewive .slider_flex {
    display: block;

    .slider_img_block {
      max-width: none;
      margin-bottom: 20px;
    }
  }

  .number_wrapper {
    display: block;
  }

  .number_item {
    width: 100%;
    margin-top: 20px;

    .number_text {
      span.db {
        display: none;
      }
    }
  }

  .corporate_item {
    width: 100%;
  }

  .banner_block_text,
  .banner_block_blue-text {
    span.db {
      display: none;
    }
  }

  .banner_block div:nth-child(1) {
    padding-left: 0;
  }

  .banner_block div:nth-child(2) {
    padding-right: 0;
  }

  .company_section .section_title {
    padding-left: 0;
  }

  .main_banner_section .container2 {
    display: block;
    justify-content: flex-start;
    align-items: flex-start;
    position: static;

    .mb_center_block,
    .mb_right_block {
      max-width: none;
      margin-left: 0;
    }

    .mb_center_block {
      padding-top: 80px;
    }

    .mb_right_block {
      margin-top: 20px;
      max-width: 222px;
    }
  }
}
.burger {
  display: none;
}

@media screen and (max-width: 750px) {
  .burger {
    display: block;
    position: absolute;
    width: 20px;
    height: 16px;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 200;

    &_item {
      width: 100%;
      height: 2px;
      background-color: #1745eb;
      z-index: 20;
      position: absolute;
      left: 0;
      transition: all 0.5s;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        margin-top: -1px;
        transition: none;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &.active {
      .burger_item {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 50%;
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
          top: 50%;
        }
      }
    }
  }

  .mb_paralax,
  .footer_paralax {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .header_logo_wrapper {
    order: 1;
    margin: 0 auto;
  }

  header {
    padding-bottom: 47px;

    nav {
      width: 100vw;
      padding-left: 0;
      position: fixed;
      left: 0;
      top: 0;
      transform: translateX(-200%);
      transition: transform 0.5s;

      &.active {
        transform: translateX(0);
      }
    }
  }

  .main_menu {
    display: block;
    z-index: 10;
    padding: 40px;
    padding-top: 70px;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    height: 100vh;
    box-sizing: border-box;

    &_item {
      text-align: left;

      margin-bottom: 30px;

      a {
        font-size: 20px;
        line-height: 24px;
      }

      &:last-child {
        padding-top: 30px;
        border-top: 1px solid #1745eb;
      }
    }

    .mobile {
      display: none;
    }
  }

  .main_menu_item + li {
    margin-left: 0;
  }

  .banner_block_img {
    height: 200px;
    background-attachment: scroll;
    background-position: center bottom;

    &:nth-child(5) {
      background-position: center top;
    }
  }

  .footer_top {
    height: 100vh;
    .container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
    }
  }
}

@media screen and (max-width: 580px) {
  .banner_block {
    flex-direction: column;
    .banner_block_blue-text,
    .banner_block_text {
      width: 100%;
    }
    .banner_block_blue-text {
      order: 1;
      margin-top: 30px;
    }
    .banner_block_text {
      order: 0;
    }
  }

  .banner_block div:nth-child(1),
  .banner_block div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 430px) {
  .mb_heading,
  .section_title {
    font-size: 24px;
    line-height: 28px;
  }

  .rewive .slider_text_block {
    padding-left: 0;
  }

  .slider_link {
    display: block;
  }
}
